.btn {
    margin-top: 10px;
    font-size: larger;
    font-weight: 500;
    width: 45px;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    padding-right: 2rem;
    text-align: center;
    background-clip: border-box;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 12rem seashell rebeccapurple;
}

.zero{
  padding-right: 2.5rem;
}

input {
    height: 4rem;
    width: 25%;
    border-radius: 5px;
    border-color: aquamarine;
    border-radius: 1.7rem;
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.3rem;
}



.container {
    margin-top: 12%;

}

@media (max-width: 480px) {
    input {
        height: 4rem;
        width: 100%;
        border-radius: 5px;
        border-color: aquamarine;
        border-radius: 1.7rem;
    }
}

@media (max-width: 320px) {
    input {
        height: 4rem;
        width: 80%;
        border-radius: 5px;
        border-color: aquamarine;
        border-radius: 1.7rem;
    }
}